:root{
    --primary-color: #055980;
    --second-color: #0db3c5;
    --black-color: #000000;
    --black-color-medium: #1b1b1b;
    --semi-black: #252525;
    --white-color: #ffffff;
    --gray-color: #575757;
    --white-color-alpha: rgba(255,255,255,0.8);
}

.container{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0rem 1.5rem;
}

.container-fluid{
    width: 100%;
    padding: 0rem 1.8rem;
}

.menu-item{
    display: inline-block;
    color: var(--black-color);
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    line-height: 2.4rem;
}

.menu-item:hover{
    color: var(--white-color);
}

.tag{
    border-radius: 5rem;
    padding: 0.6rem 2rem;
    background-color: var(--white-color);
    font-size: 3.3rem;
    font-weight: 400;
    text-align: center;
}


input[type="text"],
input[type="email"],
textarea{
    background-color: var(--white-color);
    border: 0.1rem solid var(--semi-black);
    border-radius: 0.4rem;
    width: 100%;
    padding: 2rem;
    resize: none;
    outline: none;
    transition: all 0.4s;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover{
    border: 1px solid var(--second-color);
}