@media (max-width: 1200px){
}

@media (max-width: 991px){
}

@media (max-width: 768px){
}

@media (max-width: 600px){
}

@media (max-width: 480px){
    header {
        width: 100%;
        margin: auto;
        border-radius: 0%;
    }

    header .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .container .logo {
        width: 5rem;
        margin-right: 2rem;
    }
      
    header .hamburger-menu {
        display: block;
        position: absolute;
        top: 0.625rem;
        right: 0.625rem;
        font-size: 24px;
        background-color: transparent;
        border: none;
        color: #000000;
        cursor: pointer;
    }
    
    header .navigation {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
    }

    header .navigation.show { /* Adicionando a classe .show */
        display: block; /* Exibe o menu de navegação */
        margin:0.1rem 0rem;
        padding: 0.6rem;
        font-size: 1.3rem;
        max-width: 100%;
        background-color: var(--second-color);
        border-radius: 1rem;
        align-items: center;
        justify-content: flex-end;
        z-index: 2023;
    }
    
    header .menu li {
        display: block;
        margin: 0.6 0;
    }

    .s-hero .water{
        display: none;
    }

    .s-hero .container{
        /* background-color: rgb(235, 235, 235); */
    }

    .s-hero .container .title-box{
        margin-top: 7rem;
    }

    .s-hero .container .title-box h1{
        font-size: 3rem;
        line-height: 4rem;
    }

    .s-hero .container .title-box h2{
        margin-top: 3rem;
        font-size: 2rem;
        line-height: 3rem;
    }


}