header {
    position: static;
    background-color: var(--second-color);
    border-radius: 0.4rem;
    width: auto;
    z-index: 2022;
}

/* Estilização do container do header */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

/* Estilo para o menu hamburguer */
header .hamburger-menu {
    display: none;
    /* Esconde o menu hamburguer por padrão */
}

header .container .logo {
    color: var(--black-color);
    max-width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: double;
    border-radius: 2.5rem;
    border-color: var(--white-color);
}

header .container .logo img {
    border-radius: 2rem;
}

/* Raiz de navegação */
header .container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Menu de navegação */
header .container nav .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* lista do menu */
header .container nav .menu li {
    margin-right: 4.8rem;
    transition: all 0.2s;
}

/* Animação dos itens no header */
header .container nav .menu li:hover {
    transform: translateY(-8%);
}

/*
ENTRANDO NA SEÇÃO PRINCIPAL
*/

#content {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0px;
}


.carousel-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    display: flex;
    height: 100%;
}

.carousel-item {
    min-width: 100%;
    height: auto;
    transition: transform 2s ease-in-out;
}

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    color: white;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}


/* Efeitos de transição */
.fade {
    animation: fadeEffect 2s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




.s-hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-hero .container .title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 59.2rem;
    margin-top: 15rem;
    padding-bottom: 5.8rem;
}

.s-hero .container .title-box h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.7rem;
    text-align: center;
}

.s-hero .container .title-box h1 span {
    color: var(--primary-color);
}

.s-hero .container .title-box h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 4rem;
    text-align: center;
    color: var(--gray-color);
    margin-bottom: 1.3rem;
}

.s-hero .container .title-box h2 span {
    border-radius: 2rem;
    padding: 0.4rem;
    color: var(--primary-color);
}


.s-sucess {
    padding: 10rem 0;
    margin: 0 auto;
}

.s-sucess .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.s-sucess .container .title-sucess {
    padding: 20rem 0rem;
}

.s-sucess .container .title-sucess h2 {
    font-size: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.s-sucess .container .title-sucess h2 span {
    color: var(--primary-color);
}

.s-sucess .container .gallery {
    --s: 130px;
    /* control the size of the images*/

    display: grid;
    gap: 5px;
    position: relative;
}

.s-sucess .container .gallery input {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    inset: calc(50% - var(--s)/3);
    cursor: pointer;
    --g: linear-gradient(#fff 0 0) no-repeat;
    background: var(--g) 50%/60% 3px, var(--g) 50%/3px 60%, #222;
    transition: 1.5s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.s-sucess .container .gallery>img {
    width: var(--s);
    aspect-ratio: 1;
    grid-area: 1/1;
    border-radius: 50%;
    object-fit: cover;
    transform: scale(.5);
    transition: 1s calc((var(--i) - 1)*.1s);
}

.s-sucess .container .gallery>img:nth-of-type(1) {
    --i: 1;
}

.s-sucess .container .gallery>img:nth-of-type(2) {
    --i: 2;
}

.s-sucess .container .gallery>img:nth-of-type(3) {
    --i: 3;
}

.s-sucess .container .gallery>img:nth-of-type(4) {
    --i: 4;
}

.s-sucess .container .gallery>img:nth-of-type(5) {
    --i: 5;
}

.s-sucess .container .gallery>img:nth-of-type(6) {
    --i: 6;
}

.s-sucess .container .gallery>img:nth-of-type(7) {
    --i: 7;
}

.s-sucess .container .gallery>img:nth-of-type(8) {
    --i: 8;
}

.s-sucess .container .gallery>img:nth-of-type(9) {
    --i: 9;
}

.s-sucess .container .gallery>input:checked~img {
    transform:
        rotate(calc(var(--i)* 360deg/8)) translate(calc(1.5*var(--s))) rotate(calc(var(--i)*-360deg/8));
}

.s-sucess .container .gallery>input:checked {
    transform: rotate(135deg)
}

.s-sucess .cards {
    display: flex;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0rem 1.5rem;
}

.s-sucess .cards .card {
    width: 100%;
    height: 30rem;
    background-color: var(--second-color);
    color: var(--black-color);
    border-radius: 7rem;
    margin-right: 1.6rem;
    cursor: pointer;
    transition: all 0.4s;
    text-align: center;
}

.s-sucess .cards .card:hover {
    filter: brightness(0.9);
    transform: scale(1.04);
}

.s-sucess .cards .card .card-title {
    margin: 5rem 0;
    padding-right: 9.9rem;
    padding-left: 1.4rem;
}

/* Ativo */

.s-sucess .cards .card.active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.s-sucess .cards .card .card-title h3 {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 6.4rem;
    line-height: 7.7rem;
    margin-bottom: 5.5rem;
}

.s-sucess .cards .card .card-info {
    padding-left: 1rem;
}

.s-sucess .cards .card .card-info p {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 3.1rem;
    line-height: 3.9rem;
}




/* Desing tela de serviços */

.s-Service .container .title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 59.2rem;
    margin-top: 24rem;
    padding-bottom: 5.8rem;
}

.container .title-box h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 5rem;
    line-height: 7.7rem;
    text-align: center;
    color: var(--primary-color);
}

.service-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.service-item.reverse {
    flex-direction: row-reverse;
}

.service-image {
    flex: 1;
    text-align: center;
}

.service-image img {
    max-width: 100%;
    border-radius: 10px;
}

.service-text {
    flex: 2;
    padding: 20px;
    font-size: 2rem;
}

.service-text h4 {
    margin-top: 0;
    color: #333;
}

.service-text p {
    color: #666;
}

.service-text p span {
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .service-item {
        flex-direction: column;
    }

    .service-item.reverse {
        flex-direction: column;
    }
}

/* Estilo pagina de contato */

.s-contact .container {
    margin-top: 7rem;
}

.s-contact .container .title-box h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 7.7rem;
    text-align: center;
    color: var(--primary-color);
}

.s-contact .container .contact-page {
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.s-contact .container .contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(95, 158, 160, 0.705);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.s-contact .container .contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.s-contact .container .contact-form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.s-contact .container .contact-form button:hover {
    background-color: var(--second-color);
}



.s-contact .container .contact-form .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.s-contact .container .contact-form .social-links a:hover {
    color: #24262b;
    background-color: var(--second-color);
}


/* Estilo para o botão flutuante do WhatsApp */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-float img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}


/* Estilização pagina Sobre nós */

.s-about {
    display: block;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.s-about .container {
    justify-content: center;
    align-items: center;
}

.s-about .container {
    width: 100%;
}

.s-about .container h2 {
    text-align: center;
    font-weight: 900;
    font-size: 5rem;
}

.s-about .container p {
    padding: 0 7rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    color: var(--semi-black);
    margin-top: 2.4rem;
}

.s-about .container p span {
    color: var(--second-color);
}


/* Footer Style  */

.footer .container {
    max-width: 1170px;
    margin: auto;
    justify-content: space-between;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

footer .copy {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    line-height: 1rem;
    padding-top: 5.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .copy span {
    font-family: "Playwrite MX", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}